/* Each form group */
.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Labels always above */
.formGroup label {
  font-size: 14px;
  font-weight: 700;
}

/* Inputs + select */
.formGroup input,
.formGroup select {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  font-size: 14px;
  transition: border 0.2s ease;
}

.formGroup input:focus,
.formGroup select:focus {
  outline: none;
  border-color: var(--border-color);
}

.formGroup label::after {
  content: ' *';
  color: red;
}

/* Date + Time wrapper */
.dateTimeWrapper,
.profileWrapper {
  display: flex;
  gap: 1rem;
}

.profileWrapper {
  align-items: flex-end;
  justify-content: space-between;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.profileWrapper div {
  width: 70%;
}
.profileWrapper p {
  font-size: 14px;
  color: var(--link-color);
  cursor: pointer;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  color: #878b93;
}

.profile {
  color: #88c1bf;
}
